p {
    margin: 15px 5px;
}

body{
    padding: 2rem 10px;
}

.login, .article, .file {
    float: right;
}

#login-box, #article-box, #file-box {
    width: 280px;
    height: 130px;
    margin: 10px auto;
    background-color: lightgreen;
}

#login, #article, #file {
    font-variant: small-caps;
    font-weight: bold;
    background-color: lightgreen;
    padding: 3px;
}

p {
    margin: 15px 5px;
}

table {
    margin: 10px auto;
}

table td,table th {
    min-width: 50px;
    text-align: left;
}

.center {
    width: 300px;
    margin: 2px auto;
}

.right {
    float: right;
}

input[type="text"], [type="email"], [type="password"] {
    width: 150px;
}

input[type="text"].small {
    width: 3.5em;
}

input[type="text"].medium {
    width: 9em;
}

.link {
    background: lightblue;
    border-radius: 5px;
    padding: 1rem;
    margin: 10px;
    display: block;
    text-align: center;
    text-decoration: navajowhite;
    color: black;
    font-weight: bold;
}

.logout,.check span {
    background: lemonchiffon;
    padding: 20px;
   display: block;
}
.check span{
    margin-top: 30px;
}
dir{
    margin: 10px 0;
    padding-left: 15px;
}