p {
    margin: 15px 5px;
}

body{
    padding: 2rem 10px;
}

.login {
    float: right;
}

#login-box {
    width: 280px;
    height: 130px;
    margin: 10px auto;
    background-color: lightblue;
}

#login {
    font-variant: small-caps;
    font-weight: bold;
    background-color: lightblue;
    padding: 3px;
}

p {
    margin: 15px 5px;
}

.center {
    width: 300px;
    margin: 2px auto;
}

.right {
    float: right;
}

input[type="text"], [type="email"], [type="password"] {
    width: 150px;
}

input[type="text"].small {
    width: 3.5em;
}

input[type="text"].medium {
    width: 9em;
}

.link {
    background: lightblue;
    border-radius: 5px;
    padding: 1rem;
    margin: 10px;
    display: block;
    text-align: center;
    text-decoration: navajowhite;
    color: black;
}

.logout{
    background: lemonchiffon;
}
